body {
  background-color: #292c31;
}

.recharts-cartesian-axis-tick {
  font-family: Roboto, sans-serif;
}

.recharts-legend-item-text {
  font-family: Roboto, sans-serif;
}

.recharts-tooltip-label {
  font-family: Roboto, sans-serif;
}

.recharts-tooltip-item-list {
  font-family: Roboto, sans-serif;
}